html,
body {
  padding: 0;
  margin: 0;
  background: pink;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.loading-indicator {
  position: relative;
}
.loading-indicator {
  position: absolute;
}

.with-audio-content {
  position: relative;
}

.explicit-user-action {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10003;
  width: 100%;
  height: 100vh;
  background: black;
  opacity: 0.5;
  cursor: pointer;
}
.audio-content {
  position: absolute;
  background: pink;
  width: 100%;
  height: 100vh;
  z-index: 10002;
}
.play-button {
  color: white;
  font-size: 42px;
  border: 2px solid white;
  border-radius: 100%;
  margin-top: 47vh;
  margin-left: 44vw;
  padding: 7px;
  width: 50px;
  line-height: 120%;
  width: 50px;
  text-align: center;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}
#face {
  position: relative;
  max-width: 800px;
}
#face-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
}
#the-face {
  width: 100vw;
  max-width: 800px;
}
.mouth {
  position: absolute;
  opacity: 0;
}
