html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.loading-indicator {
  position: relative;
}
.loading-indicator {
  position: absolute;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}
#face {
  position: relative;
}
#face-wrapper {
  position: absolute;
  z-index:1;
  width: 500px;
}
// #mouth-wrapper is defined in theme_name/mouth-shape-styles.scss
.mouth {
  position: absolute;
  opacity: 0;
}
